%% -*- erlang -*-
{erl_opts, [debug_info, {d, 'NOTEST'}, {parse_transform, lager_transform}, fail_on_warning]}.
{deps_dir, ["deps"]}.
{cover_enabled, true}.
%% Dependencies ================================================================
{deps, [
  { 'lager',    ".*", { git, "git://github.com/basho/lager.git",                 {branch, master} } },
  { 'jsonrpc2', ".*", { git, "git://github.com/zuiderkwast/jsonrpc2-erlang.git", {branch, master} } },
  %{ 'mochiweb', ".*", { git, "git://github.com/mochi/mochiweb.git",              {branch, master} } },
  { 'jsxn',     ".*", { git, "git://github.com/talentdeficit/jsxn.git",          {branch, master} } }
]}.
%% Rebar Plugins ==============================================================
{plugins, []}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{sub_dirs, ["rel"]}.
